{%- set projectsPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
{%- set projectsItems = repliesMap[projectsPath]|reply_items -%}
{% if projectsItems or output_profile|default('review') != 'submission' %}<div id="dmp-projects">
  <h2>Research overview</h2>

  {% for projectsItem in projectsItems %}
    <div class="project">
    {%- set projectNamePath = [projectsPath, projectsItem, uuids.projectNameQUuid]|reply_path -%}
    {%- set projectName = repliesMap[projectNamePath]|reply_str_value -%}
    {%- if projectName and projectsItems|length > 1 -%}
      <h3>{{ projectName }}</h3>
    {%- elif not projectName -%}
      {% if output_profile|default('review') == 'submission' %}<h3>{{ macros.projectLabel(projectsItems.index(projectsItem) + 1) }}</h3>{% else %}<h3 class="empty-value">(project name not given)</h3>{% endif %}
    {%- endif -%}

    {%- set projectNumberPath = [projectsPath, projectsItem, uuids.projectNumberQUuid]|reply_path -%}
    {%- set projectNumber = repliesMap[projectNumberPath]|reply_str_value -%}
    {%- set projectStartPath = [projectsPath, projectsItem, uuids.projectStartQUuid]|reply_path -%}
    {%- set projectStart = repliesMap[projectStartPath]|reply_str_value -%}
    {%- set projectEndPath = [projectsPath, projectsItem, uuids.projectEndQUuid]|reply_path -%}
    {%- set projectEnd = repliesMap[projectEndPath]|reply_str_value -%}
    {%- set fundersPath = [projectsPath, projectsItem, uuids.fundersQUuid]|reply_path -%}
    {%- set fundersItems = repliesMap[fundersPath]|reply_items -%}
      {% if projectNumber or projectStart or projectEnd or fundersItems or output_profile|default('review') != 'submission' %}<table class="project-details"><tbody>
        {% if projectNumber or output_profile|default('review') != 'submission' %}<tr><th scope="row">Project Number</th><td>{{ projectNumber if projectNumber else "N/A" }}</td></tr>{% endif %}
        {% if projectStart or output_profile|default('review') != 'submission' %}<tr><th scope="row">Start date</th><td>{{ projectStart if projectStart else "N/A" }}</td></tr>{% endif %}
        {% if projectEnd or output_profile|default('review') != 'submission' %}<tr><th scope="row">End date</th><td>{{ projectEnd if projectEnd else "N/A" }}</td></tr>{% endif %}
        {% if fundersItems or output_profile|default('review') != 'submission' %}<tr><th scope="row">Funding</th><td>
          {%- if fundersItems|length > 0 %}
            <ul>
            {%- for fundersItem in fundersItems %}
              {%- set funderNamePath = [fundersPath, fundersItem, uuids.funderNameQUuid]|reply_path -%}
              {%- set funderNameReply = repliesMap[funderNamePath] -%}
              {%- set grantNumberPath = [fundersPath, fundersItem, uuids.grantNumberQUuid]|reply_path -%}
              {%- set grantNumber = repliesMap[grantNumberPath]|reply_str_value -%}
              {%- set funderStatusPath = [fundersPath, fundersItem, uuids.funderStatusQUuid]|reply_path -%}
              {%- set funderStatus = repliesMap[funderStatusPath]|reply_str_value %}
              {% if output_profile|default('review') == 'submission' %}<li>{% set funderLabel = macros.integrationCrossref(funderNameReply) %}{{ funderLabel }}{% if grantNumber %}{% if funderLabel|trim %}: {% endif %}{{ grantNumber }}{% endif %} {% if funderStatus == uuids.funderStatusPlannedAUuid %}(planned){% elif funderStatus == uuids.funderStatusAppliedAUuid %}(applied){% elif funderStatus == uuids.funderStatusGrantedAUuid %}(granted){% elif funderStatus == uuids.funderStatusRejectedAUuid %}(rejected){% endif %}</li>{% else %}<li>{{ macros.integrationCrossref(funderNameReply) }}: {{ grantNumber if grantNumber else "grant number not yet given" }} {% if funderStatus == uuids.funderStatusPlannedAUuid %}(planned){% elif funderStatus == uuids.funderStatusAppliedAUuid %}(applied){% elif funderStatus == uuids.funderStatusGrantedAUuid %}(granted){% elif funderStatus == uuids.funderStatusRejectedAUuid %}(rejected){% endif %}</li>{% endif %}
            {%- endfor %}
            </ul>
          {%- else -%}
            Funding information has not been provided.
          {%- endif -%}
        </td></tr>{% endif %}
      </tbody></table>{% endif %}

    {%- set projectAbstractPath = [projectsPath, projectsItem, uuids.projectAbstractQUuid]|reply_path -%}
    {%- set projectAbstract = repliesMap[projectAbstractPath]|reply_str_value -%}
    {%- if projectAbstract %}
      <section class="abstract">
        {{ projectAbstract|markdown }}
      </section>
    {%- endif -%}
    </div>
  {% else %}
    <div style="font-style:italic;">There are no projects described for this DMP.</div>
  {% endfor %}
</div>{% endif %}
